.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: map-get($spacing, 2xl) 0;

  &__title {
    font-size: map-get($font-size, 6xl);
    margin: 0 0 map-get($spacing, "sm") 0;
    text-align: center;
    @extend .text-color--accent;
  }

  &__text {
    font-size: map-get($font-size, xl);
    text-align: center;
    max-width: map-get($breakpoints, "lg");
    margin: 0 map-get($spacing, "xl");
    margin-bottom: map-get($spacing, "xl");
    @extend .text-color--secondary;
  }

  &__actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: map-get($spacing, "md");
  }
}

.highlight {
  @extend .text-color--accent;
}

@media screen and (max-width: map-get($breakpoints, "md")) {
  .summary {
    &__title {
      font-size: map-get($font-size, 5xl);
    }

    &__text {
      font-size: map-get($font-size, lg);
    }
  }
}
