.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: map-get($map: $spacing, $key: "sm");
  padding: map-get($spacing, "md") map-get($spacing, "lg");
  font-size: map-get($font-size, "md");

  @media screen and (max-width: map-get($breakpoints, "sm")) {
    font-size: map-get($font-size, "sm");
    padding: map-get($spacing, "sm") map-get($spacing, "md");
  }
  border: none;
  border-radius: map-get($map: $border-radius, $key: "lg");
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;

  &__icon {
    height: map-get($font-size, md);
  }

  &--primary {
    background-color: var(--accent);
    color: white;

    &:hover {
      background-color: var(--link-hover);
    }
  }

  &--secondary {
    border: 2px solid var(--accent);
    background-color: var(--bg-box);
    color: var(--accent);

    &:hover {
      background-color: var(--accent-transparent);
    }
  }
}
