body {
  font-family: map-get($font-family, onest), sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-main);
  line-height: 1.5;
}

.text-color {
  &--primary {
    color: var(--text-primary);
  }
  &--secondary {
    color: var(--text-secondary);
  }
  &--accent {
    color: var(--accent);
  }
}

.link {
  text-decoration: none;
  color: var(--accent);

  &:hover {
    color: var(--link-hover);
  }
}

.expandable-text {
  &__content {
    font-size: 1rem;
    color: var(--text-primary);
    margin-bottom: 0.5rem;
    line-height: 1.6;
  }

  &__button {
    background: none;
    border: none;
    color: var(--accent);
    font-size: 1rem;
    cursor: pointer;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
